.chat {
  flex: 1; /* takes remaining width */
  border-left: 1px solid #dddddd35;
  border-right: 1px solid #dddddd35;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 600px;

  .top {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd35;

    .user {
      display: flex;
      align-items: center;
      gap: 20px;

      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
      }
      .texts {
        display: flex;
        flex-direction: column;
        gap: 5px;

        span {
          font-size: 18px;
          font-weight: bold;
        }

        p {
          font-size: 14px;
        }
      }
    }
  }
}
