.userinfo{
   padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;

    .user{
        display: flex;
        align-items: center;
        gap: 20px;
    }

    img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}

.icons{
    display: flex;
    gap: 20px;
    padding-top: 10px;

    img{
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
}