.chatList{
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* scroll appears only when needed */
  scrollbar-width: thin; /* for Firefox */
  scrollbar-color: rgba(255,255,255,0.2) transparent; /* for Firefox */
  max-width: 350px;
 

    
  .search{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;

    .searchbar{
      flex: 1;
      background-color: rgba(17, 25, 40, 0.5);
      display: flex;
      align-items: center;
      gap: 20px;
      border-radius: 10px;
      padding: 10px;

      input{
        background-color: transparent;
        border: none;
        outline: none;
        color: white;
        flex: 1;
      }

      img{
        width: 20px;
        height: 20px;
      }
    }
    .add{
        width: 36px;
        height: 36px;
        background-color: rgba(17, 25, 40, 0.5);
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
     }
  }
  .item{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #dddddd35;

    img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
    }
    .texts{
        display: flex;
        flex-direction: column;
        gap: 10px;

        span{
            font-weight: 500;
        }

        p{
            font-size: 14px;
            font-weight: 300;
            color: #a5a5a5;
        }
    }
  }
  .icons{
    display: flex;
    gap: 20px;

    img{
      width: 20px;
      height: 20px;
    }
  }
}

